label.checkbox {
    display:block;
    width:100%;
    padding:2px 0;
}

input[type="checkbox"] {
    margin-right:4px;
}

.field-wrapper-small {
    max-height:100px;
    overflow-y: scroll;
}

.field-wrapper-full {
    max-height:100%;
}

.field-view-more, .field-add {
    cursor:pointer;
}

.filter {
    overflow-y:scroll;
    max-height:90vh;
}

.card-image {
    max-height:100% !important;
    width: auto !important;
}

.modal-arrow {
    opacity:0;
    position:absolute;
    top:50%;
    width:64px;
    height:64px;
    transition:opacity ease-in 0.2s;
}

.modal-arrow:hover {
    opacity:0.2;
}

.arrow-left {
    background-image: url('img/left.png');
    background-repeat:no-repeat;
    background-size:contain;
    left:5px;
}

.arrow-right {
    background-image: url('img/right.png');
    background-repeat:no-repeat;
    background-size:contain;
    right:5px;
}

